<form [formGroup]="myForm" (submit)="onsubmit(myForm)">
  <div class="divhead formh">Write your concern
    <!-- <div class="fhead"></div> -->
  </div>
  <div (click)="closeNot()" class="noticont" [class.showcont]="!done">
    <div class="notification">
      <p *ngIf="editing">
        Report successfully updated
      </p>
      <p *ngIf="!editing">
        Report successfully added!
      </p>
      <span>x</span>
    </div>
  </div>

  <div class="innerformcont">
    <div class="pairholder">
      <div class="holder" [ngClass]="{active:focus === 1, error: validate('subject', ['required'])}">
        <label [class.filled]='myForm.controls.subject.value' class="label">Subject</label>
        <label class="placeholder" [class.filled2]='myForm.controls.subject.value'>Subject</label>
        <div class="border">
          <input type="text" autocomplete="off" formControlName="subject" [(ngModel)]="toUpdate.subject"
            (focus)="focus = 1" (focusout)="focus = 0">
        </div>
        <span class="errorMessage">This field is required!
        </span>
      </div>

      <div class="holder" [ngClass]="{active:focus === 2, error: validate('body', ['required', 'pattern'])}">
        <label [class.filled]='myForm.controls.body.value' class="label">Description</label>

        <label [class.filled2]='myForm.controls.body.value' class="placeholder">Description</label>
        <div class="border">
          <textarea rows="4" cols="30" type="text" autocomplete="off" [(ngModel)]="toUpdate.body" formControlName="body"
            (focus)="focus = 2" (focusout)="focus = 0">
          </textarea>
        </div>
        <span class="errorMessage">This field is required!
        </span>
      </div>
    </div>

    <div class="pairholder">
      <div class="holder" [ngClass]="{active:focus === 3, error: validate('suggestions', ['required', 'pattern'])}">
        <label [class.filled]='myForm.controls.suggestions.value' class="label">Suggestions</label>

        <label [class.filled2]='myForm.controls.suggestions.value' class="placeholder">Suggestions</label>
        <div class="border">
          <textarea rows="4" cols="30" type="text" [(ngModel)]="toUpdate.suggestions" autocomplete="off"
            formControlName="suggestions" (focus)="focus = 3" (focusout)="focus = 0">
          </textarea>
        </div>
        <span class="errorMessage">This field is required!
        </span>
      </div>

      <div class="holder" [ngClass]="{active: focus === 4, error: validate('photos', ['required', 'pattern'])}">
        <label [class.filled]='myForm.controls.photos.value' class="label">Image</label>

        <label [class.filled2]='myForm.controls.photos.value' class="placeholder">Image URL</label>
        <div class="border">
          <input type="text" autocomplete="off" [(ngModel)]="toUpdate.photos" formControlName="photos"
            (focus)="focus = 4" (focusout)="focus = 0">
        </div>
        <span class="errorMessage">This field is required!
        </span>
      </div>

    </div>

    <br>
    <div class="buttonholder">
      <!-- <span [hidden]="!myForm.valid">Fill all fields to enable submit</span> -->
      <!--  -->
      <button class="primary" [class.nohover]="myForm.invalid || submitted" [disabled]="myForm.invalid" type="submit">

        Submit</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </div>
</form>
