.outercont {
  padding: 100px;
  font-size: 50px;
  font-weight: lighter;
  color: rgb(17, 79, 141);
  text-align: center;

  p {
    margin: 0;
  }

  span {
    font-size: 40px;
  }
}

button {
  padding: 10px 15px;
  margin: 5px 5px;
  font-size: 13px;
  border-radius: 3px;
  color: rgb(83, 82, 82);
  border: none;
  border: 1px solid rgb(160, 155, 155);
  background-image: linear-gradient(to top, rgb(224, 221, 221), rgb(250, 248, 248));
  box-shadow: 0 0 5px lightgrey, 0 1px 2px rgb(88, 88, 88);
  transition: 0.2s;
  position: relative;

}

button:focus {
  outline: none;
}

button:hover {
  filter: brightness(120%);
  box-shadow: 0 0 8px lightgrey, 0 3px 4px rgb(71, 71, 71);
}

button:active {
  box-shadow: 0 0 4px lightgrey, 0 1px 2px grey;
}

.primary {
  color: white;
  border: 1px solid #3e5deb;
  background-image: linear-gradient(to top, #3e5de9, #758cf3);
}
