.holder {
  margin: 0 20px;
  width: 350px;
  padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;

  .border {
    border-radius: 5px;
    padding: 1px;
    border: 1px solid lightslategray;
  }
}

label {
  display: block;
  position: absolute;
  top: 20px;
  left: 14px;
  transition: 0.2s ease;
}

input {
  padding: 11px 16px;
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
}

input:focus {
  outline: none;
}

select {
  padding: 10px 16px;
  display: block;
  width: 100%;
  font-size: 17px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
}

select:focus {
  outline: none;
}

.active {
  color: rgb(6, 2, 235);
  font-weight: bold;

  label {
    // top:-12px;
    // left:0px;
    top: 0px;
    left: 14px;
    border-radius: 1px;
    overflow: visible;
    background: white;
    font-size: 15px;
  }

  .border {
    padding: 1px;
    background-image: linear-gradient(to right, blue, #f705eb);
    box-shadow: 2px 0px 4px #fcbedb, -2px 0px 4px rgba(107, 107, 255, 0.39);
  }
}

.filled {
  top: -12px;
  left: 0px;
  font-size: 15px;
}

.container {
  margin: 30px;
  padding: 20px 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px lightgrey, 0 2px 3px rgb(68, 67, 67);
  display: inline-block;
  transition: 0.2s;
}

.container:hover {
  box-shadow: 0 3px 17px lightgrey, 0 5px 7px rgb(66, 66, 66);
}
