.outercont {
  margin: 10px;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 2px lightgrey, 0 2px 3px grey;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  transition: 0.2s;
  overflow: hidden;
  position: relative;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: cover;
  width: 100%;
  // opacity: 0.6;
  height: auto;
  z-index: -1;
}


.overlay {
  position: absolute;
  top: 0;
  background-attachment: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  left: 0;
  background-image: linear-gradient(to right bottom, #3333ff, #66ff99);
}

// .outercont:hover {
//   box-shadow: 0 0 15px lightgrey, 0 5px 10px grey;
// }

.innercont {
  margin: 0;
  padding: 10px;
  display: grid;
  z-index: 1;
  grid-template-columns: 50% 50%;

}



.formholder {
  display: inline-block;
  box-sizing: border-box;
  //   border: 1px solid lightgrey;
}



.block {
  display: unset;
  padding: 10px !important;
}

.divfoot {
  padding: 10px 20px;
}





.holder {
  margin: 10px 5px;
  display: inline-block;
  width: unset;
  box-sizing: border-box;
  padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;

  .border {
    border-radius: 5px;
    padding: 1px;
    display: inline-block;
    border: 1px solid lightslategray;
  }

  .errorMessage {
    visibility: hidden;
    position: absolute;
    left: 50px;
    bottom: -6px;
    opacity: 0.5;
    font-size: 13px;
    background: white;
    border-radius: 2px;
    overflow: visible;
  }
}

label {
  display: block;
  position: absolute;
  top: 35%;
  left: 14px;
  color: grey;
  transition: 0.2s ease;
}

input {
  padding: 9px 16px;
  // display: block;
  // width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
}

input:focus {
  outline: none;
}

select {
  padding: 9px 16px;
  // display: block;
  // width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
}

select:focus {
  outline: none;
}

.active {
  color: rgb(6, 2, 235);
  // font-weight: bold;

  label {
    // top: -19%;
    // left: 0px;
    color: rgb(6, 2, 235);
    // letter-spacing: 1px;
    padding: 0px 1px;
    font-size: 12px;
    top: 0px;
    left: 9px;
    border-radius: 1px;
    overflow: visible;
    background: white;
    font-size: 15px;
  }

  .border {
    background-image: linear-gradient(to right, blue, #f705eb);
    box-shadow: 2px 0px 4px #fcbedb, -2px 0px 4px rgba(107, 107, 255, 0.39);
  }

  .errorMessage {
    font-weight: normal;
  }
}


.error {
  label {
    color: rgb(194, 2, 2);
  }

  .border {
    background-image: linear-gradient(to right, rgb(245, 1, 1), #fcba03);
    box-shadow: 2px 0px 4px #fcbedb, -2px 0px 4px rgba(255, 237, 188, 0.39);
  }

  input {
    color: rgb(194, 5, 5);
  }

  .errorMessage {
    visibility: visible;
    color: rgb(175, 2, 2);
    transition: ease .4s;
    left: 15px;
    opacity: 1;
  }
}

form {
  overflow: hidden;
  margin: 10px;
  padding: 0;
  background-image: linear-gradient(to right, rgb(206, 206, 255), #fad5f7);
  border-radius: 3px;
  // box-shadow: 0 0 4px lightgrey, 0 2px 3px grey;
  // border: 1px solid lightgrey;
  box-sizing: border-box;
  display: inline-block;

}

.innerformcont {
  margin: 0;
  padding-top: 20px;
  background: white;
  z-index: 9999;
  // margin-right: 10px;
  // border-top-right-radius: 60px;
  padding: 15px 30px;

  padding-right: 50px;
}


.divhead {
  font-size: 18px;
  position: relative;
  font-weight: #fde1fb;
  background-image: linear-gradient(to right, rgb(206, 206, 255), #fad5f7);
  padding: 10px 30px;
  color: rgb(4, 29, 172);
}

.fhead {
  z-index: 1;
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: -9px;
  background-image: linear-gradient(to right, blue, #f705eb);
}

.filled {
  top: -19%;
  left: 0px;
  letter-spacing: 0.1em;
  font-size: 14px;
  color: rgb(61, 60, 60);
}

.container {
  margin: 30px;
  padding: 20px 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px lightgrey, 0 2px 3px rgb(68, 67, 67);
  display: inline-block;
  transition: 0.2s;
}

.container:hover {
  box-shadow: 0 3px 17px lightgrey, 0 5px 7px rgb(66, 66, 66);
}


button {
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 3px;
  color: rgb(65, 64, 64);
  border: none;
  box-shadow: 0 0 4px lightgrey, 0 1px 2px rgb(88, 88, 88);
  transition: .2s;
  position: relative;
}



button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 0 8px lightgrey,
    0 3px 4px rgb(71, 71, 71);
}

button:active {
  box-shadow: 0 0 4px lightgrey,
    0 1px 2px grey;
}


.primary {
  color: white;
  background: #3e5de9;
}


.danger {
  color: white;
  background: #e2048d;
}


.pairholder {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ageholder {
  width: 110px;

}

.ageinput {
  display: block;
  width: 100%;
}


.buttonholder {
  margin: 15px 0;
  position: relative;

  span {
    position: absolute;
    filter: brightness(100%);
    background: white;
    padding: 5px 10px;
    z-index: 1;
    border-radius: 3px;
    top: -13px;
    left: 5%;
    font-size: 13px;
    border: 1px solid lightgrey;
    box-shadow: 0 3px 5px grey;
    color: rgb(58, 58, 156);
    visibility: hidden;
  }
}


.buttonholder:hover {
  span {
    visibility: visible;
  }
}

.nohover {
  pointer-events: none;
  filter: brightness(170%);
}


* {
  box-sizing: border-box;
}
