.outercont {
  margin: 50px 20px;
  padding: 0;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(122, 121, 121), 0 2px 3px rgb(66, 66, 66);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 30px;

  transition: 0.2s;
  overflow: hidden;
  opacity: 1;
  position: relative;
}

.showContent {
  // visibility: visible;
  // margin-top: 0;
  margin: 20px;
  opacity: 1 !important;
}

.notification {
  position: absolute;
  visibility: hidden;
  padding: 10px 0px;
  text-align: center;
  top: -5%;
  right: 10%;
  opacity: 0;
  width: 300px;
  z-index: 1;
  color: rgb(31, 93, 155);
  box-shadow: 0px 2px 5px grey;
  border-radius: 2px;
  // visibility: hidden;
  background: #cbfcdf;
  color: rgb(11, 77, 11);
  transition: ease 0.3s;
  overflow: hidden;
  height: 40px;

  span {
    position: absolute;
    padding: 0px 5px;
    border-radius: 20px;

    top: -4px;
    // background: white;
    right: 0px;
    z-index: 1;
    opacity: 0.6;
  }

  span:hover {
    opacity: 1;
  }
}

.errorAlert {
  background: rgb(255, 222, 222);
  color: rgb(175, 2, 2);
}

.show {
  visibility: visible;

  top: 10%;
  opacity: 1;
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-attachment: cover;
  width: 100%;
  // opacity: 0.6;
  height: 100%;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  background-attachment: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  // opacity: 0.5;
  left: 0;
  background-image: linear-gradient(to right,
      transparent,
      transparent,
      rgb(250, 252, 251, 0.8),
      rgb(250, 252, 251),
      white);
}

.child {
  position: relative;
}

// .outercont:hover {
//   box-shadow: 0 0 15px lightgrey, 0 5px 10px grey;
// }

.innercont {
  margin: 20px;
  margin: 0;
  padding: 30px;
  margin-bottom: 0;
  box-sizing: border-box;
  display: grid;
  z-index: 1;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 1000px) {
  .innercont {
    display: unset;
    margin: 50px 10px !important;
  }
}



.block {
  display: unset;
  margin: 50px 10px !important;
}

.divfoot {
  padding-top: 0;
  padding: 20px 40px;
}

.formholder {
  display: inline-block;

  box-sizing: border-box;
  //   border: 1px solid lightgrey;
}

.holder {
  margin: 10px 5px;
  display: inline-block;
  width: unset;
  box-sizing: border-box;
  padding-top: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;

  .border {
    border-radius: 3px;
    padding: 1px;
    display: inline-block;
    border: 1px solid rgb(159, 165, 175);
  }

  input {
    padding: 8px 16px;
    // display: block;
    // width: 100%;
    background: white;

    font-size: 15px;
    box-sizing: border-box;
    border-radius: 1px;
    border: none;
  }

  .errorMessage {
    visibility: hidden;
    position: absolute;
    right: 30%;
    bottom: -6px;
    opacity: 0.5;
    font-size: 13px;
    background: white;
    border-radius: 2px;
    overflow: visible;
  }
}

.label {
  position: absolute;
  left: 30%;
  top: -7px;
  opacity: 0;
  // background: white;
  padding: 0 1px;
  overflow: hidden;
  border-radius: 2px;
  visibility: hidden;
  font-size: 14px;
  transition: ease 0.4s;
}

.placeholder {
  display: block;
  position: absolute;
  top: 35%;
  left: 14px;
  color: rgb(134, 142, 156);
  transition: ease 0.4s;
}

.active {
  color: rgb(6, 2, 235);
  // font-weight: bold;

  .label {
    color: rgb(6, 2, 235);
    left: 0px;
    top: -7px;
    opacity: 1;
    background: transparent;

    visibility: visible;
  }

  .placeholder {
    color: rgb(6, 2, 235);
    left: 30%;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
  }

  .border {
    background-image: linear-gradient(to right bottom, blue, #00ca54);
    box-shadow: 2px 0px 4px #bef8d5, -2px 0px 4px rgba(107, 107, 255, 0.39);
  }

  .errorMessage {
    font-weight: normal;
  }
}

.filled {
  color: rgb(83, 86, 90);
  left: 0;
  // top: 0;

  opacity: 1 !important;
  visibility: visible !important;
}

.filled2 {
  color: rgb(6, 2, 235);
  left: 30%;
  opacity: 0.1;
  overflow: hidden;
  visibility: hidden;
}

input:focus {
  outline: none;
}

select {
  padding: 8px 16px;
  // display: block;
  // width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 1px;
  border: none;
}



select:focus {
  outline: none;
}

.error {
  .label {
    color: rgb(194, 2, 2);
  }

  .border {
    background-image: linear-gradient(to right, rgb(245, 1, 1), #ff00aa);
    box-shadow: 2px 0px 4px #ffb5e6, -2px 0px 4px rgba(255, 207, 188);
  }

  input,
  .placeholder {
    color: rgb(194, 5, 5);
  }

  .errorMessage {
    visibility: visible;
    color: rgb(175, 2, 2);
    transition: ease 0.4s;
    right: 5px;
    opacity: 1;
  }
}

form {
  overflow: hidden;
  margin: 10px;
  padding: 0;

  // background-image: linear-gradient(to right, rgb(206, 206, 255, 0.6), #fad5f7);
  border-radius: 3px;
  // box-shadow: 0 0 4px rgb(136, 136, 136), 0 2px 3px rgb(58, 57, 57);
  border: 1px solid rgb(130, 191, 231); // box-shadow: 0 0 4px rgb(136, 136, 136), 0 2px 3px rgb(58, 57, 57);
  // border: 1px solid lightgrey;
  box-sizing: border-box;
  display: inline-block;
}

.innerformcont {
  margin: 0;
  padding-top: 10px;
  background: white;
  // background-image: linear-gradient(rgb(255, 255, 255, 0.9), white, white);
  z-index: 9999;
  // margin-right: 10px;
  // border-top-right-radius: 60px;
  padding: 15px 30px;
}

.divhead {
  font-size: 19px;
  position: relative;
  // border-top: 1px solid white;
  // border-left: 1px solid white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid transparent;
  border-right: none;
  // font-weight: #fde1fb;
  background-image: linear-gradient(to right,
      rgb(81, 156, 218, 0.9),
      rgb(215, 252, 238, 0.9));
  padding: 10px 30px;
  text-shadow: 0px 0px 5px rgb(3, 50, 88);
  color: white;

  p {
    margin: 0;
  }

  // color: rgb(7, 58, 116);
}

.fhead {
  z-index: 1;
  margin-top: 10px;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  top: -9px;
  background-image: linear-gradient(to right, blue, #f705eb);
}

.container {
  margin: 30px;
  padding: 20px 10px;
  border-radius: 3px;
  box-shadow: 0 0 5px lightgrey, 0 2px 3px rgb(68, 67, 67);
  display: inline-block;
  transition: 0.2s;
}

.container:hover {
  box-shadow: 0 3px 17px lightgrey, 0 5px 7px rgb(66, 66, 66);
}

button {
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 3px;
  color: rgb(65, 64, 64);
  border: none;
  box-shadow: 0 0 4px lightgrey, 0 1px 2px rgb(88, 88, 88);
  transition: 0.2s;
  position: relative;
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0 0 8px lightgrey, 0 3px 4px rgb(71, 71, 71);
}

button:active {
  box-shadow: 0 0 4px lightgrey, 0 1px 2px grey;
}

.primary {
  color: white;
  background: #3e5de9;
}

.danger {
  color: white;
  background: #e2048d;
}

.pairholder {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.ageholder {
  width: 110px;
}

.ageinput {
  display: block;
  width: 100%;
}

.buttonholder {
  margin: 15px 0;
  position: relative;
  display: inline-block;

  span {
    position: absolute;
    filter: brightness(100%);
    background: white;
    z-index: 1;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    top: 20%;
    opacity: 0;
    left: 40%;
    width: 200px;
    display: inline-block;
    font-size: 13px;
    border: 1px solid lightgrey;
    box-shadow: 0 3px 5px grey;
    color: rgb(58, 58, 156);
    visibility: hidden;
    transition: 0.3s ease;
    overflow: hidden;
  }
}

.buttonholder:hover {
  span {
    visibility: visible;
    opacity: 1;
    top: -13px;
  }
}

.nohover {
  pointer-events: none;
  filter: brightness(170%);
}

.noShadow {
  box-shadow: none;
  opacity: 0.8;
}

* {
  box-sizing: border-box;
}

option {
  border: 5px solid grey;
}
