<div class="container">
  <app-updateform (update)="getData($event)" [editing]="editing" [record]="record" [toUpdate]="toUpdate"
    (cancelclick)="atCancel()" *ngIf="add; else list"></app-updateform>
  <div>
    <div (click)="done = true" class="noticont" [class.showcont]="!done">
      <div class="notification">
        <p>
          Report successfully deleted
        </p>
        <span>x</span>
      </div>
    </div>

    <div (click)="confirm = false" class="noticont" [class.showcont]="confirm">
      <div class="notification defnot">
        <p>
          Are you sure you <br>
          want delete this report?
        </p>
        <button (click)="deleteItem()" class="danger">Yes</button>
        <button (click)="confirm = false">No</button>
        <span>x</span>
      </div>
    </div>


    <ng-template #list>
      <div class="add" (click)="addNew()">
        <p>Add new report</p>
        <span>+</span>
      </div>
      <table class="tab hideContent" [class.showContent]="gotData">

        <tr class="thead">
          <td colspan="6">List of concerns</td>


        </tr>
        <tr class="thead thead2">
          <td>No.</td>
          <td>Subject</td>
          <td>Descriptions</td>
          <td>suggestions</td>
          <!-- <td>contact nfo</td> -->
          <td>Image</td>
          <td>Action</td>

        </tr>

        <tr [class.even]="i % 2 != 0" *ngFor="let data of record;let i = index">
          <td>{{i + 1}}</td>
          <!-- <td>{{data._id}}</td> -->
          <td>{{data.subject}}</td>
          <td>{{data.body}}</td>
          <td>{{data.suggestions}}</td>
          <!-- <td>{{data.contactInfo}}</td> -->
          <td><img [src]="data.photos" alt=""></td>
          <td class="buttons">
            <button (click)="view(data._id)" class="primary">View</button>

            <button class="danger" (click)="delete(data)">
              <span class="fas fa-trash-alt"></span>
              Delete</button>
            <button class="primary" (click)="update(data)">
              <i class="fas fa-trash-alt"></i>
              Update</button>
          </td>

        </tr>
      </table>
    </ng-template>
  </div>
</div>
