<!-- <jr-card [title]="'buttons'"> -->
<jr-button [type]="'primary'">primary</jr-button>
<jr-button [type]="'danger'">danger</jr-button>
<jr-button [type]="'success'">success</jr-button>
<jr-button>default</jr-button>
<!-- </jr-card> -->

<jr-container [columns]="3">
  <jr-card [title]="'Header'">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
    aliquip
    ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.</jr-card>
  <jr-card [title]="'Header'">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt
    ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.</jr-card>
  <jr-card [title]="'Header'">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt
    ut
    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
    ex
    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
    laborum.</jr-card>
</jr-container>

<jr-container [columns]=1>
  <jr-card [title]="'Input field'" [clickerOn]="off">
    <jr-input [placeholder]="'Input field'" [label]="'Input field'"></jr-input><br>
    <jr-input [placeholder]="'Name'" [label]="'Name'"></jr-input>
  </jr-card>
</jr-container>
