<div class="outercont">
  <div class="notification">You have unsave changes!</div>
  <div class="innercont">
    <div class="divhead">Info list <p>Registered: <span>{{record.length}}</span></p>
    </div>
    <table>
      <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let item of record">
        <td>{{item.id}}</td>

        <td>{{item.firstname}}</td>
        <td>{{item.lastname}}</td>
        <td>{{item.Email}}</td>
        <td>{{item.gender}}</td>
        <td>{{item.age}}</td>
        <td>
          <button (click)="edit(item)" class="primary">Edit</button>
        </td>
      </tr>
    </table>
  </div>
</div>
