button {
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 3px;
  color: rgb(83, 82, 82);
  border: none;
  border: 1px solid rgb(160, 155, 155);
  background-image: linear-gradient(to top, rgb(224, 221, 221), rgb(250, 248, 248));
  box-shadow: 0 0 5px lightgrey, 0 1px 2px rgb(88, 88, 88);
  transition: 0.2s;
  position: relative;
  display: inline;
}

button:focus {
  outline: none;
}

button:hover {
  filter: brightness(105%);
  box-shadow: 0 0 8px lightgrey, 0 3px 4px rgb(71, 71, 71);
}

button:active {
  box-shadow: 0 0 4px lightgrey, 0 1px 2px grey;
}

.primary {
  color: white;
  // border: 1px solid #3e5deb;
  background-color: rgb(29, 126, 223) !important;
}

.danger {
  color: white;

  background-color: #df2965 !important;
}

.success {
  color: white;
  background-color: rgb(28, 168, 28) !important;
}

.outercont {
  padding: 12px 15px;
  // width: 100px;
  border-radius: 3px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 0 4px lightgrey, 0 1px 2px grey;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  z-index: 1;
  align-content: center;
  align-items: center;
  transition: .4s;
  cursor: pointer;
}


::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

outer:visited {
  text-decoration: none !important;
}

.outercont:hover {
  box-shadow: 0 0 10px lightgrey,
    0 3px 5px grey;
}

.cursor {
  height: 1px;
  width: 1px;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  margin: 25% 0;
  background: white;
  // border:1px solid rgba(80, 136, 156, 0.5);
  z-index: 1;
}

.boom {
  letter-spacing: 2px;
  // text-shadow: 2px 2px 3px black;
}

.axis {
  height: 100%;
  padding: 0;
  width: 100%;
  background: transparent;
  top: 0;
  left: 0;
  text-align: center;
  overflow: visible;
  position: absolute;

}

.clickedClass {
  background: none;
  // border: 1px solid rgb(255, 255, 255, .7);
  border: 1px solid white;
  // opacity: 1;
  animation-name: clicked;
  animation-duration: 3s;
}

@keyframes clicked {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    transform: scale(100);
    opacity: 0;
  }
}
